.App {
  display: flex;
  height: 100vh;
  gap: 1rem;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
}
.panel {
  flex: 0 0 80px;
}
.inputarea {
  flex: 1;
}
/* .App{
TODO: when scroll down, panel height is longer than input area.
} */