.inputarea-container {
  flex: 1;  
  .inputarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 1rem;

    &:focus {
      border-color: #9b9b9b;
    }
  }

  .inputarea {
    width: 100%;
    flex: 1;
    padding: 1rem 0 1rem 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1rem;
    line-height: 1.5;
    resize: none;
    outline: none;
    font-family: Palatino;
    font-weight: 500;
  }
}